/*? global clearing */
*,
html,
body {
	margin: 0;
	padding: 0;
}

.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5rem;
}

.box {
	transition: transform 0.5s;
}

.box:hover {
	transform: scale(1.1);
}

.container {
	padding: 2px 16px;
}

.card {
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.1);
}
